<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mb-3">Создание поста</h1>
        <post-form @save="save" />
      </div>
    </div>
  </div>
</template>

<script>
import PostForm from "@/components/PostForm.vue";

export default {
  components: { PostForm },
  methods: {
    save(data) {
      this.$store.dispatch("newPost", data);
    }
  }
};
</script>
