<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mb-3">Редактирование</h1>
        <post-form @save="save" :post="post" />
      </div>
    </div>
  </div>
</template>

<script>
import PostForm from "@/components/PostForm.vue";

export default {
  components: { PostForm },
  props: ["id"],
  computed: {
    post() {
      return this.$store.getters.post(this.id);
    }
  },
  methods: {
    save(data) {
      data.id = this.id;
      this.$store.dispatch("updatePost", data);
      this.$router.push({
        name: "Post",
        params: {
          id: this.id
        }
      });
    }
  }
};
</script>
