<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <post-list class="mb-3" />
      </div>
    </div>
  </div>
</template>

<script>
import PostList from "@/components/PostList.vue";

export default {
  components: {
    PostList
  }
};
</script>
