<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <post-nav :id="id" class="mb-3" />
        <the-post :id="id" class="mb-3" />
        <h5>Комментарии</h5>
        <comments-list
          class="mb-3"
          :comments="comments"
          v-if="comments.length"
          @new-comment="newComment"
        />
        <comment-form @new-comment="newComment" />
      </div>
    </div>
  </div>
</template>

<script>
import CommentsList from "@/components/CommentsList.vue";
import CommentForm from "@/components/CommentForm.vue";
import ThePost from "@/components/ThePost.vue";
import PostNav from "@/components/PostNav.vue";

export default {
  components: {
    CommentsList,
    CommentForm,
    ThePost,
    PostNav
  },
  props: ["id"],
  computed: {
    comments() {
      return this.$store.getters.postComments(this.id);
    }
  },
  methods: {
    newComment(data) {
      data.postId = this.id;
      this.$store.dispatch('newComment', data);
    },
  },
};
</script>
