<template>
  <div class="comment-form">
    <form @submit.prevent="send">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Ваше имя"
          v-model="author"
        />
      </div>
      <div class="form-group">
        <textarea
          class="form-control"
          placeholder="Сообщение"
          v-model="text"
        ></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Отправить</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  emits: ["new-comment"],
  data() {
    return {
      author: "",
      text: ""
    };
  },
  methods: {
    send() {
      this.$emit("new-comment", {
        author: this.author,
        text: this.text
      });
      this.author = "";
      this.text = "";
    }
  }
};
</script>
