<template>
  <section class="comments-list">
    <the-comment
      class="comments-list__item"
      v-for="comment in comments"
      :key="comment.id"
      :comment="comment"
      @new-comment="newComment"
    />
  </section>
</template>

<script>
import TheComment from "@/components/TheComment.vue";

export default {
  components: {
    TheComment
  },
  emits: ["new-comment"],
  props: ["comments"],
  methods: {
    newComment(data) {
      this.$emit("new-comment", data);
    }
  }
};
</script>
