<template>
  <header class="page-header">
    <div class="container">
      <div class="row">
        <div class="col d-flex align-items-center py-2">
          <router-link to="/">
            <the-logo />
          </router-link>
          <nav class="page-header__nav ml-auto">
            <page-nav />
          </nav>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import TheLogo from "@/components/TheLogo.vue";
import PageNav from "@/components/PageNav.vue";

export default {
  components: {
    TheLogo,
    PageNav
  }
};
</script>

<style lang="scss">
.page-header {
  color: var(--white);
  background-color: var(--blue);

  a,
  a:hover {
    color: inherit;
  }
}
</style>
