<template>
  <ul class="page-nav">
    <li class="page-nav__item">
      <router-link :to="createLink" class="page-nav__link" title="Создать пост">
        <img src="/assets/create.svg" alt="Создать" class="page-nav__img" />
      </router-link>
    </li>
  </ul>
</template>

<script>
export default {
  computed: {
    createLink() {
      return {
        name: "Create"
      };
    }
  }
};
</script>

<style lang="scss">
.page-nav {
  margin: 0;
  padding: 0;

  list-style: none;

  &__img {
    width: 32px;
  }
}
</style>
