<template>
  <div class="post-snippet">
    <h3 class="post-snippet__title">
      <router-link :to="postLink">
        {{ title }}
      </router-link>
    </h3>
    <div class="post-snippet__description" v-if="description">
      {{ description }}
    </div>
    <div class="post-snippet__footer" v-if="comments">
      Комментариев: {{ comments }}
    </div>
  </div>
</template>

<script>
export default {
  props: ["id", "title", "description", "comments"],
  computed: {
    postLink() {
      return {
        name: "Post",
        params: {
          id: this.id
        }
      };
    }
  }
};
</script>

<style lang="scss">
.post-snippet {
  &__title {
    margin: 0;
  }

  &__footer {
    color: gray;

    font-size: 0.7em;
  }
}
</style>
