<template>
  <form @submit.prevent="save">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Название поста"
        v-model="title"
      />
    </div>
    <div class="form-group">
      <textarea
        class="form-control"
        rows="3"
        placeholder="Краткое описание"
        v-model="description"
      ></textarea>
    </div>
    <div class="form-group">
      <the-editor
        :editor="editor"
        v-model="text"
        @ready="editorReady"
        :config="editorConfig"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-primary">{{ buttonLabel }}</button>
    </div>
  </form>
</template>

<script>
import CKEditor from "@ckeditor/ckeditor5-vue";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
  components: {
    TheEditor: CKEditor.component
  },
  emits: ["save"],
  props: ["post"],
  data() {
    return {
      title: "",
      description: "",
      text: "",
      editor: ClassicEditor,
      editorConfig: {
        toolbar: [
          "heading",
          "|",
          "bold",
          "italic",
          "link",
          "bulletedList",
          "numberedList"
        ]
      }
    };
  },
  computed: {
    buttonLabel() {
      return this.post ? "Редактировать" : "Создать";
    }
  },
  methods: {
    save() {
      this.$emit("save", {
        title: this.title,
        description: this.description,
        text: this.text
      });
      this.clear();
    },
    clear() {
      this.title = "";
      this.description = "";
      this.text = "";
    },
    editorReady() {
      if (this.post) {
        this.title = this.post.title || "";
        this.description = this.post.description || "";
        this.text = this.post.text || "";
      }
    }
  }
};
</script>
