<template>
  <div class="d-flex justify-content-between">
    <router-link class="btn btn-primary" :to="editLink">Изменить</router-link>
    <button class="btn btn-danger" @click="deletePost">Удалить</button>
  </div>
</template>

<script>
export default {
  props: ["id"],
  computed: {
    editLink() {
      return {
        name: "Edit",
        params: {
          id: this.id
        }
      };
    }
  },
  methods: {
    deletePost() {
      if (!confirm("Точно?")) {
        return;
      }
      this.$store.dispatch("deletePost", this.id);
      this.$router.push({
        name: "Home"
      });
    }
  }
};
</script>
