<template>
  <div class="alert alert-info" v-if="!posts.length">Нет постов</div>
  <section class="post-list" ref="postList" v-else>
    <post-snippet
      class="post-list__item"
      v-for="post in posts"
      :key="post.id"
      :id="post.id"
      :title="post.title"
      :description="post.description"
      :comments="post.comments"
    />
  </section>
</template>

<script>
import PostSnippet from "@/components/PostSnippet.vue";

export default {
  components: {
    PostSnippet
  },
  data() {
    return {
      page: 1,
      postsPerPage: 10,
      posts: []
    };
  },
  computed: {
    start() {
      return (this.page - 1) * this.postsPerPage;
    },
    end() {
      return this.start + this.postsPerPage;
    },
    pages() {
      return Math.ceil(this.$store.state.posts.length / this.postsPerPage);
    }
  },
  watch: {
    page() {
      this.loadPosts();
    }
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll);
    this.loadPosts();
  },
  unmounted() {
    window.removeEventListener("scroll", this.onScroll);
  },
  methods: {
    loadPosts() {
      let newPosts = this.$store.state.posts.slice(this.start, this.end);
      newPosts.forEach(post => {
        this.posts.push({
          id: post.id,
          title: post.title,
          description: post.description,
          comments: this.$store.state.comments.filter(
            comment => comment.postId == post.id
          ).length
        });
      });
    },
    onScroll() {
      if (this.page >= this.pages) {
        return;
      }
      let listBottom = this.$refs.postList.getBoundingClientRect().bottom;
      let windowBottom = document.documentElement.clientHeight;
      if (listBottom < windowBottom + 100) {
        this.page++;
      }
    }
  }
};
</script>

<style lang="scss">
.post-list {
  &__item {
    & + & {
      margin-top: 1rem;
    }
  }
}
</style>
