<template>
  <div class="comment">
    <div class="comment__header">{{ comment.author }}</div>
    <pre class="comment__body">{{ comment.text }}</pre>
    <div class="comment__footer">
      <button class="btn btn-link comment__btn" @click="toggleAnswerForm">
        {{ !showAnswerForm ? "Ответить" : "Скрыть" }}
      </button>
      <button class="btn btn-link comment__btn" @click="deleteComment">
        Удалить
      </button>
    </div>
    <comment-form
      class="comment__answerForm mt-3"
      v-if="showAnswerForm"
      @new-comment="newComment"
    />
    <comments-list
      class="comment__answers"
      v-if="answers"
      :comments="answers"
      @new-comment="emitComment"
    />
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import CommentForm from "@/components/CommentForm.vue";

export default {
  components: {
    CommentsList: defineAsyncComponent(() =>
      import("@/components/CommentsList.vue")
    ),
    CommentForm
  },
  emits: ["new-comment"],
  props: ["comment"],
  data() {
    return {
      showAnswerForm: false
    };
  },
  computed: {
    answers() {
      return this.$store.getters.commentAnswers(this.comment.id);
    }
  },
  methods: {
    deleteComment() {
      if (!confirm("Точно?")) {
        return;
      }
      this.$store.dispatch("deleteComment", this.comment.id);
    },
    toggleAnswerForm() {
      this.showAnswerForm = !this.showAnswerForm;
    },
    newComment(data) {
      data.answerTo = this.comment.id;
      this.$emit("new-comment", data);
      this.toggleAnswerForm();
    },
    emitComment(data) {
      this.$emit("new-comment", data);
    }
  }
};
</script>

<style lang="scss">
.comment {
  &__header {
    font-weight: 700;
  }

  &__body {
    margin: 0;
  }

  &__answers {
    padding-left: 1rem;
  }

  &__footer {
    line-height: 1;
  }

  &__btn {
    padding: 0;
    line-height: 1;

    & + & {
      margin-left: 1rem;
    }
  }
}
</style>
