<template>
  <article class="post">
    <h1 class="post__title mb-3">{{ title }}</h1>
    <div class="post__body" v-html="text"></div>
  </article>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      defaultTitle: "",
      defaultText: ""
    };
  },
  computed: {
    post() {
      return this.$store.getters.post(this.id);
    },
    title() {
      return this.post.title ? this.post.title : this.defaultTitle;
    },
    text() {
      return this.post.text ? this.post.text : this.defaultText;
    }
  }
};
</script>
