<template>
  <page-header class="mb-3" />
  <router-view />
</template>

<script>
import PageHeader from "@/components/PageHeader.vue";

export default {
  components: {
    PageHeader
  }
};
</script>

<style lang="scss">
@import "@/scss/bootstrap.custom";
</style>
